.u-series, .u-value, .u-title {
	font-family: var(--font);
}

.u-title {
	font-size: 16px;
	margin: 10px 0 6px 16px;
}

.u-select {
	cursor: grab;
	background: var(--color-area);
}

.u-over {
	cursor: pointer;
}

.Button {
	z-index: 2;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 13pt;
	width: 21px;
	height: 22px;
	color: var(--color-text);
	border: 1px var(--color-text) solid;
	border-radius: 6px;
	padding-bottom: 4px;
}