.u-series, .u-value, .u-title {
	font-family: var(--font);
}

.u-title {
	font-size: 16px;
	margin: 10px 0 6px 16px;
}

.u-select {
	cursor: grab;
	background: var(--color-area);
}

.u-over {
	cursor: pointer;
}

.Button {
	z-index: 2;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 13pt;
	width: 21px;
	height: 22px;
	color: var(--color-text);
	border: 1px var(--color-text) solid;
	border-radius: 6px;
	padding-bottom: 4px;
}

.Settings {
	position: absolute;
	z-index: 1;
	line-height: 2.5em;
	background-color: var(--color-bg);
	text-align: right;
	padding: 1em .5em 2em 2em;
	box-shadow: 0 0 64px 56px var(--color-bg);
	opacity: .95;
}


.Settings input {
	border: 2px inset var(--color-border);
	margin-left: .5em;
}