@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root {
	--color-red: rgb(255, 0, 0);
	--color-cyan: rgb(0, 255, 255);
	--color-magenta: rgb(255, 10, 110);
	--color-green: rgb(13, 255, 45);
	--color-acid: rgb(217, 255, 0);
	--color-purple: rgb(100, 0, 200);
	--color-white: rgb(255,255,255);

	--color-bg: rgb(0,0,0);
	--color-text: rgb(190,190,190);
	--color-text-dark: rgb(76,76,76);
	--color-border: grey;
	--color-grid: rgb(48,48,48);
  	--color-active: rgb(255, 217, 0);
	--color-area: rgba(95, 0, 175, 0.17);


	--font: 'Roboto Mono', monospace;

	font-size: 16px;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text);
	color-scheme: dark;
}

body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0;
}

input, button, select {
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}
button {
	cursor: pointer;
	border-style: outset;
}
select {
	cursor: pointer;
}

input:focus-visible, button:focus-visible, select:focus-visible {
	border: 1px var(--color-active) solid;
}

button:hover, select:hover {
	border: 1px var(--color-active) solid !important;
}

.Center {
	position: absolute;
	width: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}