@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root {
	--font: 'Roboto Mono', monospace;

	font-size: 16px;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text);
}

body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0;
}

input, button, select {
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	background-color: var(--color-bg);
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}
option {
	color: var(--color-text);
}
button {
	cursor: pointer;
	border-style: outset;
}
select {
	cursor: pointer;
}

input:focus-visible, button:focus-visible, select:focus-visible {
	border: 1px var(--color-active) solid;
}

button:hover, select:hover {
	border: 1px var(--color-active) solid !important;
}

.Center {
	position: absolute;
	width: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.CloseButton {
	user-select: none;
	cursor: pointer;
	margin: 0 4px 0 4px;
	font-size: 24px;
	color: var(--color-red);
	max-height: 1em;
	transform: translateY(-5px);
}
.CloseButton:hover {
	color: var(--color-active) !important;
}

.u-series, .u-value, .u-title {
	font-family: var(--font);
}

.u-legend {
	user-select: none;
}

.u-title {
	font-size: 16px;
	margin: 2px;
}

.u-select {
	cursor: grab;
}