
.TableApp {
	margin: 4px;
	width: calc(100vw - 8px);
	height: calc(100vh - 8px);
	gap: 4px;
}
@media (min-width: 1250px) {
	.TableApp {
		display: grid;
		grid-template-columns: minmax(480px, 820px) minmax(720px, 1fr);
		grid-template-rows: auto minmax(360px, 1fr);
	}
	.PlotLeft {
		grid-row: 2;
		grid-column: 1;
	}
	.PlotTop {
		grid-row: 1;
		grid-column: 2;
	}
	.PlotBottom {
		grid-row: 2;
		grid-column: 2;
	}
		
}

@media (max-width: 1250px) {
	.TableApp {
		display: block;
	}
}

.Table table {
	text-align: center;
}

.Table td {
	border: 1px solid var(--color-border);
}

.Cell {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	overflow: clip;
}

.Table {
	border: 1px solid var(--color-border);
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	scrollbar-base-color: red;
	max-width: fit-content;
}
.Table::-webkit-scrollbar {
	display: none;
}

.ColumnsSelector {
	position: absolute;
	left: 1em;
	display: flex;
	flex-flow: column wrap;
	width: 44em;
	height: 24em;
	z-index: 1;
	background-color: var(--color-bg);
	border: 2px solid var(--color-border);
	opacity: .9;
	padding: 1em;
	gap: 4px;
}

.ColumnsSelector > * {
	text-align: left;
}

.Filters {
	margin: 1em;
	width: fit-content;
	border: 1px solid var(--color-border);
}

.FilterCard {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	padding: 2px;
	margin: 2px;
	text-align: left;
}

.AddFilter {
	margin: 2px;
	text-align: right;
}

.Menu {
	display: flex;
	gap: 8px;
	position: relative;
	z-index: 10;
	margin-top: 4px;
	margin-bottom: 8px;
}

.MenuDropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	z-index: 10;
	border: 1px solid var(--color-border);
	padding: .5em;
	gap: 4px;
}

.MenuItem {
	border-color: transparent;
	padding: 2px 6px 2px 6px;
	display: inline-flex;
	justify-content: space-between;
}

.MenuInput {
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
}
.MenuInput:hover {
	border: 1px solid var(--color-active);
	
}

.keyComb {
	margin-left: 1em;
	color: var(--color-text-dark)
}

input, button, select {
	text-align: center;
	border: 1px var(--color-border) solid;
	/* border-radius: 4px; */

}