table {
	border: 1px solid;
}

td {
	border: 1px solid;
}

.Cell {
	display: inline-block;
	overflow: clip;
}

.Table {
	width: fit-content;
	margin: 1em;
}

.ColumnsSelector {
	margin: 1em;
	width: max-content;
	align-content: flex-start;
	display: flex;
	flex-flow: column wrap;
	gap: 4px;
	height: 18em;
}

.ColumnsSelector > * {
	text-align: left;
}

.Filters {
	margin: 1em;
	width: fit-content;
}

.FilterCard {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	border: 1px solid;
	padding: 2px;
	margin: 2px;
	text-align: left;
}

.AddFilter {
	margin: 2px;
	text-align: right;
}

input, button, select {
	text-align: center;
	border: 1px var(--color-border) solid;
	/* border-radius: 4px; */

}