
.TableApp {
	margin: 4px;
	width: calc(100vw - 8px);
	height: calc(100vh - 8px);
	gap: 4px;
}

.AppColumn {
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 4px;
}

@media (min-width: 1250px) {
	.TableApp {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.plotTop {
		grid-row: 1;
	}
}

@media (max-width: 1250px) {
	.TableApp {
		display: block;
	}
	.plotTop, .plotLeft, .plotBottom {
		height: 80vw;
	}
	
}

.Table table {
	text-align: center;
}

.Table td {
	border: 1px solid var(--color-border);
}

.Cell {
	white-space: pre;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	overflow: clip;
}

.Table {
	border: 1px solid var(--color-border);
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	scrollbar-base-color: red;
	max-width: fit-content;
}
.Table::-webkit-scrollbar {
	display: none;
}

.ColumnsSelector {
	position: absolute;
	left: 4px;
	display: flex;
	flex-flow: column wrap;
	width: 44em;
	height: 29.7em;
	z-index: 1;
	background-color: var(--color-bg);
	border: 2px solid var(--color-border);
	opacity: .9;
	padding: 1em 1em 1em 2em;
	gap: 4px;
}

.ColumnsSelector > * {
	text-align: left;
}

.Filters {
	max-width: fit-content;
	border: 1px solid var(--color-border);
	border-radius: 8px;
}

.FilterCard {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	padding: 1px;
	margin: 0px 2px 0px 2px;
	text-align: left;
}

.AddFilter {
	margin: 2px;
	text-align: right;
}

.Menu {
	display: flex;
	gap: 4px;
	position: relative;
	z-index: 10;
	margin-top: 4px;
	margin-bottom: 4px;
}

.MenuDropdown {
	text-align: right;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	z-index: 10;
	border: 1px solid var(--color-border);
	padding: .5em;
	gap: 4px;
}

.MenuDropdown h4 {
	text-align: center;
	margin: 4px 0 8px 0;
}

.MenuItem {
	border-color: transparent;
	padding: 2px 6px 2px 6px;
	display: inline-flex;
	justify-content: space-between;
}

.MenuInput {
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
}
.MenuInput:hover {
	border: 1px solid var(--color-active);
	
}

.keyComb {
	margin-left: 1em;
	color: var(--color-text-dark)
}

input, button, select {
	text-align: center;
	border: 1px var(--color-border) solid;
}