:root {
	--color-crimson: rgb(165, 0, 22);
	--color-magenta: rgb(255, 10, 110);
	--color-red: rgb(255, 24, 24);
	--color-orange: rgb(255, 106, 20);
	--color-peach: rgb(255, 99, 72);
	--color-gold: rgb(255, 219, 16);
	--color-acid: rgb(217, 255, 0);
	--color-green: rgb(20, 255, 20);
	--color-skyblue: rgb(155, 255, 255);
	--color-cyan: rgb(0, 255, 255);
	--color-blue: rgb(0, 0, 255);
	--color-purple: rgb(128, 0, 255);
	--color-white: rgb(255,255,255);

	--color-bg: rgb(0,0,0);
	--color-text: rgb(190,190,190);
	--color-text-dark: rgb(76,76,76);
	--color-border: grey;
	--color-grid: rgb(48,48,48);
  	--color-active: var(--color-gold);
	--color-area: rgba(95, 0, 175, 0.17);
	--color-area2: rgb(155, 255, 255);

	color-scheme: dark;
}

[main-theme="Bright"] {
	--color-crimson: rgb(165, 0, 22);
	--color-magenta: rgb(255, 10, 110);
	--color-red: rgb(255, 24, 24);
	--color-orange: rgb(255, 106, 20);
	--color-peach: rgb(255, 99, 72);
	--color-gold: rgb(255, 219, 16);
	--color-acid: rgb(255, 152, 55);
	--color-green: rgb(0, 170, 0);
	--color-skyblue: rgb(60, 156, 235);
	--color-cyan: rgb(0, 206, 206);
	--color-blue: rgb(0, 0, 255);
	--color-purple: rgb(128, 0, 255);
	--color-white: rgb(44,44,44);

	--color-bg: rgb(255,255,255);
	--color-text: rgb(22,22,22);
	--color-text-dark: rgb(77,77,77);
	--color-border: rgb(66,66,66);
	--color-grid: rgb(177,177,177);
  	--color-active: var(--color-skyblue);
	--color-area: rgba(177, 82, 255, 0.1);
	--color-area2: rgb(75, 255, 240);

	color-scheme: light;
}

[main-theme="Monochrome"] {
	--color-crimson: rgb(0, 0, 0);
	--color-magenta: rgb(111, 111, 111);
	--color-red: rgb(0, 0, 0);
	--color-orange: rgb(111, 111, 111);
	--color-peach: rgb(0, 0, 0);
	--color-gold: rgb(166, 166, 166);
	--color-acid: rgb(111, 111, 111);
	--color-green: rgb(33, 33, 33);
	--color-skyblue: rgb(0, 0, 0);
	--color-cyan: rgb(166, 166, 166);
	--color-blue: rgb(0, 0, 0);
	--color-purple: rgb(0, 0, 0);
	--color-white: rgb(33,33,33);

	--color-bg: rgb(255,255,255);
	--color-text: rgb(0,0,0);
	--color-text-dark: rgb(77,77,77);
	--color-border: rgb(66,66,66);
	--color-grid: rgb(177,177,177);
  	--color-active: red;
	--color-area: rgba(111, 111, 111, 0.17);
	--color-area2: rgba(111, 111, 111, 0.17);

	color-scheme: light;
}