
.ContextMenu {
	z-index: 5;
	width: max-content;
	position: fixed;
	padding: 8px;
	background-color: var(--color-bg);
	border: 1px var(--color-border) solid;
}

.ContextMenu > * {
	display: block;
}

.ContextMenu .Group {
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 4px;
}

.ContextMenu .Row {
	display: flex;
	justify-content: right;
	gap: 8px;
}

.ContextMenu button, .ContextMenu input, .TextButton {
	border: none;
	padding: 1px 0 1px 0;
}

.ContextMenu label {
	user-select: none;
	cursor: pointer;
}

.ContextMenu > button:hover, .ContextMenu label:hover, .TextButton:hover {
	color: var(--color-active) !important;
	text-decoration: underline;
}

div.separator {
	background-color: var(--color-border);
	margin: 4px 0 4px 0;
	height: 1px;
}

.AppNav {
	border-top: 1px var(--color-border) solid;
	height: 24px;
	display: flex;
	gap: 8;
	color: var(--color-text-dark);
	font-size: 14px;
	user-select: none;
}

:is(.AppNav > div) + :is(.AppNav > div) {
	border-left: 1px var(--color-border) solid;
}

.AppNav > div {
	padding: 2px;
}

.AppNav select {
	border: none;
	padding: 0;
}

.AppNav select:hover {
	color: var(--color-active);
	text-decoration: underline;
}

button, select {
	text-align: center;
	border: 1px var(--color-border) solid;
}

input:not([type='checkbox']), label > select {
	text-align: center;
	background-color: var(--color-input-bg);
	border: 1px transparent solid;
}

label > select {
	border: 1px transparent solid;
}

label:has(input[type='checkbox']):hover {
	cursor: pointer;
	color: var(--color-active);
	text-decoration: underline;
}

input:focus-visible, button:focus-visible, select:focus-visible {
	border-color: var(--color-active);
}

input:disabled, button:disabled, select:disabled {
	border-color: var(--color-text-dark);
	color: var(--color-text-dark);
}

button:hover:enabled, select:hover:enabled {
	border-color: var(--color-active) !important;
}