@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root {
	--font: 'Roboto Mono', monospace;

	font-size: 16px;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text);
}

* {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	margin: 0;
}

input, button, select {
	background-color: var(--color-bg);
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}
option {
	color: var(--color-text);
}
input[type='checkbox'], select, button {
	cursor: pointer;
}

.PopupBackground {
	background-color: var(--color-bg);
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 128;
}

.Popup {
	position: fixed;
	background-color: var(--color-bg);
	border: 2px var(--color-border) solid;
	padding: 1em 2em 1.5em 2em;
	text-align: center;
	z-index: 129;
}

.Center {
	position: absolute;
	width: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.CloseButton {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 16px;
	line-height: 16px;
	color: var(--color-red);
}
.CloseButton::after {
	position: absolute;
	content: '×';
	display: inline-block;
	user-select: none;
	cursor: pointer;
	padding: 0 2px 0 2px;
	font-size: 24px;
	transform: translate(-2px, -2px);
}
.CloseButton:hover {
	color: var(--color-active) !important;
}

.u-series, .u-value, .u-title {
	font-family: var(--font);
}

.u-legend {
	user-select: none;
}

.u-title {
	font-size: 16px;
	margin: 2px;
}

.u-select {
	cursor: grab;
}

.u-tooltip {
	font-family: var(--font);
	font-size: 14px;
	position: absolute;
	background: var(--color-bg);
	display: none;
	border: 1px solid var(--color-border);
	padding: 2px 6px;
	pointer-events: none;
	z-index: 100;
	white-space: pre;
}