
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@import "./themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font: 'Roboto Mono', monospace;

	font-size: 16px;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-bg);
	color: var(--color-text);
}

* {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h4 {
	font-weight: bold;
	margin-bottom: 16px;
}

a {
   @apply underline text-blue-300 hover:text-active visited:text-purple-300
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
	display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
	}

	.separator {
		background-color: var(--color-border);
		height: 1px;
		width: 100%;
	}

	.center {
		position: absolute;
		width: fit-content;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.CloseButton {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 16px;
	line-height: 16px;
	color: var(--color-cyan);
}
.CloseButton::after {
	position: absolute;
	content: '×';
	display: inline-block;
	user-select: none;
	cursor: pointer;
	padding: 0 2px 0 2px;
	font-size: 24px;
	transform: translate(-2px, -2px);
}
.CloseButton:hover {
	color: var(--color-active) !important;
}

.u-series,
.u-value,
.u-title {
	font-family: var(--font);
}

.u-legend {
	user-select: none;
}

.u-title {
	font-size: 16px;
	margin: 2px;
}

.u-select {
	cursor: grab;
}

.u-tooltip {
	font-family: var(--font);
	font-size: 14px;
	position: absolute;
	background: var(--color-bg);
	display: none;
	border: 1px solid var(--color-border);
	padding: 2px 6px;
	pointer-events: none;
	z-index: 100;
	white-space: pre;
}
