.Table {
	overflow-x: scroll;
	overflow-y: clip;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.Table::-webkit-scrollbar {
	display: none;
}

.Table table {
	user-select: none;
	text-align: center;
	table-layout: fixed;
}

.Table td {
	position: relative;
	padding: 0;
	border: 1px solid var(--color-border);
}

.TdOver {
	cursor: pointer;
	position: absolute;
	top: -2px;
	left: -2px;
	height: calc(100% + 4px);
	width: calc(100% + 4px);
}

.ColumnHeader {
	position: relative;
	cursor: pointer;
	word-break: break-word;
}

.ColumnHeader > div {
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2px;
}

.ColumnHeader > div > * {
	overflow: clip;
	max-height: 44px;
}

.SortShadow {
	box-shadow: 0 0 24px 6px var(--color-active);
	background-color: transparent;
	position: absolute;
	left: 0;
	height: 1px;
	width: 100%;
}

.Cell {
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	overflow: clip;
}

.ModifiedMarker::after {
	content: '*';
	font-size: 14px;
	display: inline-block;
	color: var(--color-magenta);
	transform: translate(1px, -3px);
}

.Filters {
	justify-content: left;
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.FilterCard {
	display: flex;
	padding: 1px;
	flex: 1 1 26ch;
	min-width: min(100%, 26ch);
	max-width: min(100%, 46ch);
	justify-content: left;
	align-items: center;
	text-align: left;
}

.FilterCard > select {
	min-width: 2em;
	max-width: max-content;
}

.keyComb {
	margin-left: 1em;
	color: var(--color-dark);
}
