@import "tailwindcss";

:root {
	--color-magenta: rgb(255, 0, 110);
	--color-magenta2: rgba(201, 0, 77, 0.75);
	--color-cyan: rgb(0, 255, 255);
	--color-cyan2: rgba(0, 219, 219, 0.863);

	--color-skyblue: rgb(155, 255, 255);
	--color-blue: rgb(0, 140, 255);
	--color-purple: rgb(128, 0, 255);
	--color-peach: rgb(255, 99, 72);
	--color-white: rgb(255, 255, 255);
	--color-acid: rgb(217, 255, 0);
	--color-gold: rgb(255, 230, 0);

	--color-green: rgb(20, 255, 20);
	--color-yellow: rgb(255, 255, 0);
	--color-orange: rgb(255, 106, 20);
	--color-red: rgb(255, 22, 22);
	--color-crimson: rgb(148, 0, 37);

	--color-bg: rgb(0, 0, 0);
	--color-input-bg: rgb(25, 25, 25);
	--color-text: rgb(190, 190, 190);
	--color-text-dark: rgb(99, 99, 99);
	--color-border: rgb(55, 55, 55);
	--color-grid: rgb(33, 33, 33);
	--color-active: var(--color-gold);
	--color-area: rgba(95, 0, 175, 0.17);
	--color-area2: rgba(0, 104, 86, 0.5);

	color-scheme: dark;
}


[main-theme='Bright'] {
	--color-magenta: rgb(231, 37, 111);
	--color-magenta2: rgba(255, 85, 136, 0.7);
	--color-cyan: rgb(0, 204, 204);
	--color-cyan2: rgba(36, 230, 230, 0.7);

	--color-peach: rgb(255, 99, 72);
	--color-gold: rgb(86, 0, 136);
	--color-acid: rgb(255, 115, 0);
	--color-skyblue: rgb(122, 160, 221);
	--color-blue: rgb(0, 153, 153);
	--color-purple: rgb(128, 0, 255);
	--color-white: rgb(44, 44, 44);

	--color-green: rgb(0, 200, 0);
	--color-yellow: rgb(255, 255, 0);
	--color-orange: rgb(255, 106, 20);
	--color-red: rgb(255, 24, 24);
	--color-crimson: rgb(165, 0, 22);

	--color-bg: rgb(255, 255, 255);
	--color-input-bg: rgb(200, 200, 200);
	--color-text: rgb(22, 22, 22);
	--color-text-dark: rgb(77, 77, 77);
	--color-border: rgb(88, 88, 88);
	--color-grid: rgb(222, 222, 222);
	--color-active: rgb(228, 0, 106);
	--color-area: rgba(168, 61, 255, 0.2);
	--color-area2: rgba(255, 255, 32, 0.5);

	color-scheme: light;
}

[main-theme='Monochrome'] {
	--color-crimson: rgb(0, 0, 0);
	--color-magenta: rgb(44, 44, 44);
	--color-magenta2: rgb(88, 88, 88, 0.9);
	--color-red: rgb(33, 33, 33);
	--color-orange: rgb(55, 55, 55);
	--color-peach: rgb(77, 77, 77);
	--color-gold: rgb(0, 0, 0);
	--color-acid: rgb(0, 0, 0);
	--color-green: rgb(66, 66, 66);
	--color-skyblue: rgb(0, 0, 0);
	--color-cyan: rgb(99, 99, 99);
	--color-cyan2: rgba(145, 145, 145, 0.6);
	--color-blue: rgb(0, 0, 0);
	--color-purple: rgb(77, 77, 77);
	--color-white: rgb(33, 33, 33);
	--color-yellow: rgb(32, 32, 32);

	--color-bg: rgb(255, 255, 255);
	--color-input-bg: rgb(200, 200, 200);
	--color-text: rgb(0, 0, 0);
	--color-text-dark: rgb(77, 77, 77);
	--color-border: rgb(66, 66, 66);
	--color-grid: rgb(222, 222, 222);
	--color-active: rgb(228, 0, 106);
	--color-area: rgba(111, 111, 111, 0.27);
	--color-area2: rgba(111, 111, 111, 0.3);

	color-scheme: light;
}

@theme inline {
	--color-crimson: var(--color-crimson);
	--color-magenta: var(--color-magenta);
	--color-magenta2: var(--color-magenta2);
	--color-red: var(--color-red);
	--color-orange: var(--color-orange);
	--color-peach: var(--color-peach);
	--color-gold: var(--color-gold);
	--color-acid: var(--color-acid);
	--color-green: var(--color-green);
	--color-skyblue: var(--color-skyblue);
	--color-cyan: var(--color-cyan);
	--color-cyan2: var(--color-cyan2);
	--color-blue: var(--color-blue);
	--color-purple: var(--color-purple);
	--color-white: var(--color-white);
	--color-yellow: var(--color-yellow);

	--color-bg: var(--color-bg);
	--color-input-bg: var(--color-input-bg);
	--color-text: var(--color-text);
	--color-text-dark: var(--color-text-dark);
	--color-border: var(--color-border);
	--color-grid: var(--color-grid);
	--color-active: var(--color-active);
	--color-area: var(--color-area);
	--color-area2: var(--color-area2);
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }
}